<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>create Bt</title>
</head>
<body>
<h1>create bt</h1>
<form th:action="@{/bts/create}" method="post" th:object="${bt}">
    <input type="number" required th:field="*{id}">
    <br>
    <input type="text" required th:field="*{detail}">
    <br>
    <input type="text" required th:field="*{type}">
    <br>
    <input type="text" required th:field="*{price}">
    <br>
    <select th:field="*{status}">
        <option th:value="true">True</option>
        <option th:value="false">False</option>
    </select>
    <br>
    <br>
    <button type="submit">Create</button>
</form>
</body>
</html>