<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create cake form</h1>
<button><a th:href="@{/cakes}">Back to list</a></button>

<div>
  <form action="/cakes/create" method="post" th:object="${cake}">
    <input type="text" th:field="*{details}" placeholder="Details...">
    <br>
    <select th:field="*{type}">
      <option value="" selected>Choose type</option>
      <option value="banh chay">Banh chay</option>
      <option value="banh man">Banh man</option>
    </select>
    <br>
    <input type="text" th:field="*{price}" placeholder="Price...">
    <br>
    <select th:field="*{status}">
      <option value="true">Con hang</option>
      <option value="false">Het hang</option>
    </select>
    <br>
    <button type="submit">Create</button>
  </form>
</div>
</body>
</html>