<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit banh trung</title>
</head>
<body>
<h1>update banh trung</h1>
<form th:action="@{/bts/edit}" method="post" th:object="${bt}">
  <input type="number" required th:field="*{id}">
  <br>
  <input type="text" required th:field="*{detail}">
  <br>
  <input type="text" required th:field="*{type}">
  <br>
  <input type="text" required th:field="*{price}">
  <br>
  <select th:field="*{status}">
    <option th:value="true">True</option>
    <option th:value="false">False</option>
  </select>
  <br>
  <br>
  <button type="submit">update</button>
</form>
</body>
</html>

